[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==0.23.1"
sklearn = "==0.0"
scipy = "==1.1.0"
request = "==1.0.2"
absl-py = "==0.2.2"
astor = "==0.6.2"
bleach = "==1.5.0"
cycler = "==0.10.0"
gast = "==0.2.0"
get = "==1.0.3"
grpcio = "==1.12.1"
"h5py" = "==2.8.0"
"html5lib" = "==0.9999999"
joblib = "==0.12.0"
keras = "==2.2.0"
keras-applications = "==1.0.2"
keras-preprocessing = "==1.0.1"
kiwisolver = "==1.0.1"
lightgbm = "==2.1.2"
markdown = "==2.6.11"
matplotlib = "==2.2.2"
mlxtend = "==0.12.0"
numpy = "==1.14.5"
post = "==1.0.2"
protobuf = "==3.6.0"
public = "==1.0.3"
pymysql = "==0.8.1"
pyparsing = "==2.2.0"
python-dateutil = "==2.7.3"
pytz = "==2018.4"
pyyaml = "==3.12"
query-string = "==1.0.2"
scikit-learn = "==0.19.1"
seaborn = "==0.8.1"
six = "==1.11.0"
sqlalchemy = "==1.2.8"
tensorboard = "==1.8.0"
tensorflow = "==1.8.0"
termcolor = "==1.1.0"
werkzeug = "==0.14.1"
xgboost = "==0.72"

[dev-packages]

[requires]
python_version = "3.6"
